.HelloWorld {
    text-align: left;
}

.HelloWorld code {
    font-size: 0.5em;
    color: #e83e8c;
    word-break: break-word;
}

.HelloWorld pre {
    font-size: 0.7em;
    overflow: scroll;
    padding: 3px;
    background-color: #eeeeee;
}